@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  @apply min-w-full;
  @apply border-separate !important;
  border-spacing: 0;
  @apply text-sm;
  @apply font-sans;
}

thead {
  @apply rounded;
  @apply border;
  @apply bg-blue-100;
}

th {
  @apply font-medium;
  @apply text-left;
  @apply text-sm;
  @apply px-2;
  @apply py-1;
  @apply border-t;
  @apply border-b;
}

th:first-child {
  @apply border-l;
  @apply rounded-l;
}

th:last-child {
  @apply border-r;
  @apply rounded-r;
}

td {
  @apply text-left;
  @apply px-2;
  @apply py-2;
  @apply border-b;
}

dl {
  @apply grid;
  @apply grid-cols-3;
}

dt {
  @apply py-1.5;
  @apply font-medium;
  @apply border-b;
  @apply col-span-1;
}

dd {
  @apply py-1.5;
  @apply border-b;
  @apply col-span-2;
}
